.popover{
    --height: 50%;
    --width: 75%;
  }
  
ion-button {
--background: blue; 
--background-hover-opacity: 0.3;
--box-shadow: 30px;
--color: white;
}

ion-title {
    text-align: center;
    --size: 'large';
    --color: blue;
}

ion-toolbar {
    padding: 10px;
}

ion-content {
    padding: 10px;
}