.accordion-item {
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}

.accordion-profile {
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;    
}

.black-text {
    color: black;
    font-weight: bold
}

.custom-button {
    --background: yellow; 
    color: black;
    --background-activated: transparent;
    font-weight: bold;
    font-size: 18px;
    --background-hover-opacity: 0.3;
    width: 100%;
    height: 50px;    
    text-align: center;    
}

.create-back-button {
    position: absolute
}


.create-button {
    --background: black; 
    color: yellow;
    --background-activated: transparent;
    font-weight: bold;
    font-size: 18px;
    --background-hover-opacity: 0.3;
    width: 100%;
    height: 50px;    
    text-align: center;
}

.create-card {
    --highlight-height: 0;    
    --background: black;
}

.create-content {
    --background: yellow;
    --padding-start: 15px;
    --padding-end: 15px;
}

.create-datetime {
    --placeholder-color: yellow;
    color: yellow;
}

.create-input {
    --background: black;
    color: yellow;
    --placeholder-color: yellow;
    --placeholder-font-weight: bold;
}

.create-popover {
    --background: red;
    color:yellow;
    font-weight: bold;
    --backdrop-opacity: 0.9;    
}

.day-text {
    font-size: 35px;
}

.errormsg {
    color: white;
    font-size: 15px!;
    text-align: center;
}

.gallery-card {
    border: 2px solid yellow;
    border-radius: 10px;    
}

.like-panel {
    position: absolute;
    color: yellow;
    --ripple-color: transparent;
    right: 0px;  
    font-size: 20px;  
}

.list {
    background-color: black;
}

.loading {
    --background: none;
    --spinner-color: yellow; 
}

.live-title {
    color: red
}

.myparties-toolbar {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.modal {
    --height: 100%;
    --width: 100%;
}

.party-details-popover {
    --background: red;
    color: red;
    --backdrop-opacity: 0.9;
    --height: 70%;
    --width: 80%
}

.picker-opt {
    color: white;
}

.picture-card {
    border: 2px solid yellow;
    border-radius: 10px;    
}

.popover {
    --background: black;
    color: black;
    text-align: center;
    --backdrop-opacity: 0.9;
    --width: 90%
}

.profile-button {
    --background: yellow; 
    color: black;
    font-weight: bold;
    --background-hover-opacity: 0.3;
    width: 50px;
    height: 30px;     
}

.profile-item {
    --background: transparent;
    --background-hover-opacity: 0.3;
    width: 180px;
}

.red-date-box {
    border: 4px double red;    
    border-radius: 5px;
    text-align: center;
    margin: auto
}

.radio-buttons {
    border: solid;
    border-width: 3px;
    border-color: yellow;
    color: yellow;
}

.refresh-toast {
    --background:#FF4127;
    --color:#fff;
    top: 100px;
    text-align: center;
    align: center
}

.rounded-top {
    --border-radius: 10px 10px 0 0;
    --highlight-height: 0;
    --background: black;
}

.rounded-bottom {
    --border-radius: 0 0 10px 10px;
    --highlight-height: 0;
    --background: black;  
}

.searchbar {
    margin-top: 4%;
    --background: yellow;
    --border-radius: 10px;
    --cancel-button-color: red;
    --clear-button-color: red;
    --icon-color: black;
    --placeholder-color: black;
}

.signin-button {
    --background: yellow; 
    color: black;
    --background-activated: transparent;
    font-weight: bold;
    font-size: 18px;
    --background-hover-opacity: 0.3;
    --border-radius: 0px;
    margin-left: 19px;
    --background-activated: transparent;
    width: 90%;
    height: 50px;    
    text-align: center;    
}

#signin-content .signin-inputs {
    padding: 10px    
}

#signin-content{
    --padding-start: 10px;
    --padding-top: 140px;
    --padding-end: 10px;    
}

.swiper-pagination {
    position: absolute;
    color: yellow
}

.white-text {
    font-weight: bold;
    color: white;
}

.yellow-text {
    color: yellow
}

.yellow-date-box {
    border: 2px solid yellow;    
    border-radius: 5px;
    text-align: center;
    margin: auto
}

ion-button {
    --color: yellow;
    --color-activated: black;
    --background: black;
    --background-activated-opacity: 0.5;
    --background-activated: transparent;
    --background-hover-opacity: 0.3;
}

ion-buttons {
    --background: yellow;
    --background-hover-opacity: 0.3;
} 

ion-card {
    border: 2px solid red;
    border-radius: 10px;    
}

ion-card-header {
    font-size: 15px;
    font-weight: bold;
    color: yellow;
    text-align: center
}

ion-card-content {
    text-align: center;
}

ion-card-title {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: yellow
}

ion-card-subtitle {
    color: yellow;
    font-size: 20px;
}

ion-content {
    --background: transparent;
}

ion-footer {
    padding: 20px;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

ion-input {
    --padding-start: 10px;
}

ion-item {
    --background: transparent;
    --ion-text-color: yellow;
}

ion-label {
    font-weight: bold;
    text-transform: uppercase;
    color: yellow
}

ion-radio {
    --color: yellow;
    --color-checked: yellow;    
}

ion-range {
    --bar-background: yellow;
    --knob-background: yellow;
    --knob-size: 20px;
    --bar-background-active: yellow;
    --bar-height: 3px;
    --height: 3px;
    --knob-border-radius: 0px;
}

ion-refresher-content {
    color: white;
    --color: white;
}

ion-slides {
    height: 200%;
}

.swiper-slide {
    display: block;
}

ion-text {
    color: yellow; 
    font-weight: bold;
}

ion-tab-button {
    --background: transparent;
    --ripple-color: transparent;
    --color: black;
    --color-focused: yellow;
    --color-selected: white;
    font-weight: bold;
    font-size: 10%;
    text-align: center    
  }  

ion-tab-bar {
    --border: none;
    background: linear-gradient(transparent 5%, 70%, yellow);    
    opacity: 1;
    height: 120px;
    text-transform: uppercase; 
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
ion-title {
    text-align: center;
    font-weight: bold;
    --color: yellow;
    padding-top: 10px;
  }
  
  

ion-toolbar {
    padding: 20px;
    --background: black;
}
