@font-face {
    font-family: 'Briller';
    src: url('Briller.eot');
    src: local('Briller'),
        url('Briller.eot?#iefix') format('embedded-opentype'),
        url('Briller.woff2') format('woff2'),
        url('Briller.woff') format('woff'),
        url('Briller.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Briller';
    src: url('Briller-Black.eot');
    src: local('Briller-Black'),
        url('Briller-Black.eot?#iefix') format('embedded-opentype'),
        url('Briller-Black.woff2') format('woff2'),
        url('Briller-Black.woff') format('woff'),
        url('Briller-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Briller';
    src: url('Briller-Thin.eot');
    src: local('Briller-Thin'),
        url('Briller-Thin.eot?#iefix') format('embedded-opentype'),
        url('Briller-Thin.woff2') format('woff2'),
        url('Briller-Thin.woff') format('woff'),
        url('Briller-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Briller';
    src: url('Briller-Bold.eot');
    src: local('Briller-Bold'),
        url('Briller-Bold.eot?#iefix') format('embedded-opentype'),
        url('Briller-Bold.woff2') format('woff2'),
        url('Briller-Bold.woff') format('woff'),
        url('Briller-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Briller';
    src: url('Briller-Ultra.eot');
    src: local('Briller-Ultra'),
        url('Briller-Ultra.eot?#iefix') format('embedded-opentype'),
        url('Briller-Ultra.woff2') format('woff2'),
        url('Briller-Ultra.woff') format('woff'),
        url('Briller-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Briller';
    src: url('Briller-Light.eot');
    src: local('Briller-Light'),
        url('Briller-Light.eot?#iefix') format('embedded-opentype'),
        url('Briller-Light.woff2') format('woff2'),
        url('Briller-Light.woff') format('woff'),
        url('Briller-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

